* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1b1b1b;
    color: #fff;
}


.top-nav {
    background: #111;
    padding: 20px 40px;
}

.top-nav h2 {
    color: red;
    letter-spacing: 2px;
}


.about-container {
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: 50%;
   gap: 10px;
}

.about-card {
    grid-area: "about-card img" "about-card p";
    max-width: 100%;
    margin-bottom: 50px;
}
.about-card img {
    width: 50%;
    height: 15rem;
    object-fit: cover;
        border-radius: 20px;  
}
.about-card p{
    text-align: center;
    color:red;
    width: 50%;


    
}

.about-card h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-card p {
    line-height: 1.7;
    color: #ddd;
}

/* Info Grid */
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 50px;
}

/* Info Box */
.info-box {
    background: #262626;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.info-box .icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.info-box h3 {
    color:red;
    margin-bottom: 10px;
}

.info-box p {
    color: #ccc;
    font-size: 14px;
}


.mission {
    background: #262626;
    padding: 30px;
    border-radius: 10px;
}

.mission h2 {
    color:red;
    margin-bottom: 15px;
}

.mission p {
    color: #ddd;
    line-height: 1.6;
}

.contact-us {
    margin-top: 60px;
    padding: 40px;
    background: #1f1f1f;
    border-radius: 12px;
}

.contact-us h2 {
    color: red;
    margin-bottom: 10px;
}

.contact-text {
    color: #ccc;
    margin-bottom: 30px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.contact-box {
    background: #262626;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.contact-box span {
    font-size: 32px;
    display: block;
    margin-bottom: 10px;
}

.contact-box h4 {
    margin-bottom: 5px;
    color: red;
}

.contact-box p {
    color: #ddd;
    font-size: 14px;
}



footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 60px;
    color: #aaa;
}
