*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 95%;
    max-width: auto;
    align-self: center;
    position:sticky;
    
}
.listing-top-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35%;
    margin-top: 3rem;
}
.image-container{
    border-radius: 10px;
    height: 15rem;
    width: 90%;
    border-radius: 20px;
}
.image-container img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
        border-radius: 20px;

}
.filter-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    background-color: rgb(72, 70, 70);
    height: 3.5rem;
    padding: 2rem;
    align-items: center;
    border-radius: 25px;
    position: absolute;
    top: 13rem;

}
.form-input-l{
    display: flex;
    flex-direction: column;
    color: white;
    border-right: 1px solid black;
    width: 70%;
    padding-left: 3rem;

}
.form-input-l label{
    color: aliceblue;
}
.form-input-l input{
    background: none;
    border: none;
}
.form-input-l input:focus{
    border: none;
    outline: none;
    color: rgb(147, 149, 150);
}
.form-input-l select option{
    background: none;
    background-color: black;
    color: aliceblue;
}
.form-input-l select{
    background: none;
    border: none;
    color: rgb(157, 159, 161);
}
.form-input-l select:focus{
    outline: none;
}
.button{
    width: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
.search-btn{
    width: 3rem;
    height: 3rem;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn svg{
    width: 2rem;
    height: 2rem;
}