*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 95%;
    max-width: auto;
    align-self: center;
    position:sticky;
    
}
.listing-top-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35%;
    margin-top: 3rem;
}
.image-container{
    border-radius: 10px;
    height: 15rem;
    width: 90%;
    border-radius: 20px;
}
.image-container img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
        border-radius: 20px;

}
.filter-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    background-color: rgb(72, 70, 70);
    height: 3.5rem;
    padding: 2rem;
    align-items: center;
    border-radius: 25px;
    position: absolute;
    top: 13rem;

}
.form-input-l{
    display: flex;
    flex-direction: column;
    color: white;
    border-right: 1px solid black;
    width: 70%;
    padding-left: 3rem;

}
.form-input-l label{
    color: aliceblue;
}
.form-input-l input{
    background: none;
    border: none;
}
.form-input-l input:focus{
    border: none;
    outline: none;
    color: rgb(147, 149, 150);
}
.form-input-l select option{
    background: none;
    background-color: black;
    color: aliceblue;
}
.form-input-l select{
    background: none;
    border: none;
    color: rgb(157, 159, 161);
}
.form-input-l select:focus{
    outline: none;
}
.button{
    width: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
.search-btn{
    width: 3rem;
    height: 3rem;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn svg{
    width: 2rem;
    height: 2rem;
}



.card {
    background-color: rgb(30, 29, 29);
    border-radius: 15px;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:60px;
}
.car-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;

}
h1{
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.subtitle{
    color:white;
    font-size: 15px;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.car-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  
}


.car-item img {
  width: 20rem;
  border-radius: 8px;
}

.car-item button {
  background-color: #0d47a1;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.search{
    text-align: center;
}
.search h3{
    color:blue;
    margin-left: -4rem;
    margin-bottom: 1rem;
}
.searchBar{
    width: 25%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-top: 2rem;
    

}
.btn{
    width: 15%;
    color: white;
    background-color: blue;
    padding: 8px;
    border: none;
    border-radius: 10px;
    
}
